# Final Project: MeetUp DataFrames.

In [1]:
reset -fs

In [14]:
import json
from pyspark.sql.functions import explode
from pyspark.sql.functions import col
from datetime import datetime

In [2]:
df = spark.read.json("s3a://dsci6007-firehose-final-project/meet_up2017/02/13/22/dsci6007_firehose_meet_up-1-2017-02-13-22-39-18-15eb685e-17b3-4a6a-aefb-c7309eed423c")

In [17]:
#df = spark.read.json("s3a://dsci6007-firehose-final-project/meet_up2017/02/*/*/*")

In [3]:
results_df_1 = df.select('results')

In [4]:
df.select('results.id', 'results.city').show()

+--------------------+--------------------+
|                  id|                city|
+--------------------+--------------------+
|[18590249, 185903...|[Mountain View, S...|
+--------------------+--------------------+

In [6]:
results_df_1.schema

StructType(List(StructField(results,ArrayType(StructType(List(StructField(category,StructType(List(StructField(id,LongType,true),StructField(name,StringType,true),StructField(shortname,StringType,true))),true),StructField(city,StringType,true),StructField(country,StringType,true),StructField(created,LongType,true),StructField(description,StringType,true),StructField(group_photo,StructType(List(StructField(base_url,StringType,true),StructField(highres_link,StringType,true),StructField(photo_id,LongType,true),StructField(photo_link,StringType,true),StructField(thumb_link,StringType,true),StructField(type,StringType,true))),true),StructField(id,LongType,true),StructField(join_mode,StringType,true),StructField(lat,DoubleType,true),StructField(link,StringType,true),StructField(lon,DoubleType,true),StructField(members,LongType,true),StructField(name,StringType,true),StructField(organizer,StructType(List(StructField(member_id,LongType,true),StructField(name,StringType,true),StructField(photo,StructType(List(StructField(base_url,StringType,true),StructField(highres_link,StringType,true),StructField(photo_id,LongType,true),StructField(photo_link,StringType,true),StructField(thumb_link,StringType,true),StructField(type,StringType,true))),true))),true),StructField(rating,DoubleType,true),StructField(state,StringType,true),StructField(timezone,StringType,true),StructField(topics,ArrayType(StructType(List(StructField(id,LongType,true),StructField(name,StringType,true),StructField(urlkey,StringType,true))),true),true),StructField(urlname,StringType,true),StructField(utc_offset,LongType,true),StructField(visibility,StringType,true),StructField(who,StringType,true))),true),true)))

`category, city, country, created, description, group_photo, id, join_mode, lat, link, lon, members, name, organizer, rating, state, timezone, topics, urlname, utc_offset, visibility, who;'`

In [8]:
#results_df.select(results_df['results'][0]).show()

In [7]:
results_df_1.select(results_df_1['results']).show()

+--------------------+
|             results|
+--------------------+
|[[[6,education/le...|
+--------------------+

In [4]:
results_df_2 = results_df_1.select(results_df_1['results'])

## Get `category`.

In [20]:
results_df_2.select(explode(results_df_2['results']['category'])).distinct().show()

+--------------------+
|                 col|
+--------------------+
|[16,language/ethn...|
|[32,sports/recrea...|
|[24,paranormal,pa...|
|                null|
|[15,hobbies/craft...|
|[6,education/lear...|
|    [21,music,music]|
|      [12,LGBT,lgbt]|
|[17,alternative l...|
|    [11,games,games]|
|[10,food/drink,fo...|
|[29,sci-fi/fantas...|
|[31,socializing,s...|
|[26,pets/animals,...|
|[13,movements/pol...|
|[3,cars/motorcycl...|
|[20,movies/film,m...|
|[2,career/busines...|
|[8,fashion/beauty...|
| [9,fitness,fitness]|
+--------------------+
only showing top 20 rows

In [21]:
results_df_2_1 = results_df_2.select(explode(results_df_2['results']['category'])).distinct()

In [25]:
results_df_2_1.select(results_df_2_1.col['id'].alias('category_id'), results_df_2_1.col['shortname'].alias('category_shortname'), results_df_2_1.col['name'].alias('category_name')).where(results_df_2_1.col['id'].isNotNull()).show()

+-----------+-------------------+--------------------+
|category_id| category_shortname|       category_name|
+-----------+-------------------+--------------------+
|         16|           language|language/ethnic i...|
|         32|  sports-recreation|   sports/recreation|
|         24|         paranormal|          paranormal|
|         15|     hobbies-crafts|      hobbies/crafts|
|          6| education-learning|  education/learning|
|         21|              music|               music|
|         12|               lgbt|                LGBT|
|         17|          lifestyle|alternative lifes...|
|         11|              games|               games|
|         10|         food-drink|          food/drink|
|         29|     sci-fi-fantasy|      sci-fi/fantasy|
|         31|        socializing|         socializing|
|         26|       pets-animals|        pets/animals|
|         13|government-politics|  movements/politics|
|          3|   cars-motorcycles|    cars/motorcycles|
|         20|        movies-film|         movies/film|
|          2|    career-business|     career/business|
|          8|     fashion-beauty|      fashion/beauty|
|          9|            fitness|             fitness|
|          1|       arts-culture|   fine arts/culture|
+-----------+-------------------+--------------------+
only showing top 20 rows

In [26]:
category_df = results_df_2_1.select(results_df_2_1.col['id'].alias('category_id'), results_df_2_1.col['shortname'].alias('category_shortname'), results_df_2_1.col['name'].alias('category_name')).where(results_df_2_1.col['id'].isNotNull())

In [27]:
category_df.show()

+-----------+-------------------+--------------------+
|category_id| category_shortname|       category_name|
+-----------+-------------------+--------------------+
|         16|           language|language/ethnic i...|
|         32|  sports-recreation|   sports/recreation|
|         24|         paranormal|          paranormal|
|         15|     hobbies-crafts|      hobbies/crafts|
|          6| education-learning|  education/learning|
|         21|              music|               music|
|         12|               lgbt|                LGBT|
|         17|          lifestyle|alternative lifes...|
|         11|              games|               games|
|         10|         food-drink|          food/drink|
|         29|     sci-fi-fantasy|      sci-fi/fantasy|
|         31|        socializing|         socializing|
|         26|       pets-animals|        pets/animals|
|         13|government-politics|  movements/politics|
|          3|   cars-motorcycles|    cars/motorcycles|
|         20|        movies-film|         movies/film|
|          2|    career-business|     career/business|
|          8|     fashion-beauty|      fashion/beauty|
|          9|            fitness|             fitness|
|          1|       arts-culture|   fine arts/culture|
+-----------+-------------------+--------------------+
only showing top 20 rows

In [28]:
category_df.groupBy('category_shortname').count().sort(col("count").desc()).show()

+--------------------+-----+
|  category_shortname|count|
+--------------------+-----+
|    health-wellbeing|    1|
|          book-clubs|    1|
| government-politics|    1|
|        pets-animals|    1|
|               games|    1|
|        arts-culture|    1|
|                lgbt|    1|
|          paranormal|    1|
|      hobbies-crafts|    1|
|    cars-motorcycles|    1|
|         photography|    1|
|      parents-family|    1|
|     career-business|    1|
|new-age-spirituality|    1|
|   sports-recreation|    1|
|           lifestyle|    1|
|               music|    1|
|             writing|    1|
|          food-drink|    1|
|             fitness|    1|
+--------------------+-----+
only showing top 20 rows

In [15]:
category_count_df = category_df.groupBy('category_shortname').count().sort(col("count").desc())

### Export to Pandas.

In [16]:
df_categories = category_count_df.toPandas()

In [19]:
df_categories.head()

     category_shortname  count
0          pets-animals      1
1            book-clubs      1
2  new-age-spirituality      1
3      cars-motorcycles      1
4        hobbies-crafts      1

In [20]:
df_categories.index = df_categories.index + 1

In [21]:
df_categories[:20]

      category_shortname  count
1           pets-animals      1
2             book-clubs      1
3   new-age-spirituality      1
4       cars-motorcycles      1
5         hobbies-crafts      1
6    government-politics      1
7      sports-recreation      1
8       health-wellbeing      1
9         parents-family      1
10           photography      1
11       career-business      1
12          arts-culture      1
13                 games      1
14                  lgbt      1
15               support      1
16                 music      1
17              language      1
18               writing      1
19               dancing      1
20           socializing      1

### Saving dataframe as html format in the master node.

In [22]:
timestamp = '{}'.format(datetime.now())

In [23]:
html = '<!DOCTYPE html><HTML><HEAD><TITLE>Top MeetUp Categories</TITLE></HEAD> \
        <BODY>{}</BODY></HTML>'.format(df_categories[:20].to_html().encode('utf-8'))

In [24]:
with open("spark-top-meetup-categories.html", "w") as outf:
    outf.write("<H1>Top MeetUp Categories from Spark</H1>")
    outf.write("<H2>As of: " + timestamp + "</H2>")
    outf.write(html)

`scp -i ~/ssh/dsci6007_cpm.pem hadoop@ec2-52-202-107-142.compute-1.amazonaws.com:~/spark-top-meetup-categories.html /Users/carles/`

## Get `topics`.

In [25]:
results_df_2.select(explode(results_df_2['results']['topics'])).distinct().show()

+--------------------+
|                 col|
+--------------------+
|[[206,Digital Pho...|
|[[498,Singles,sin...|
|[[3336,Self-Impro...|
|[[459,HiFi,hifi],...|
|[[209,Wedding Pla...|
|[[682,Robotics,ro...|
|[[240,Weight Loss...|
|[[3833,Software D...|
|[[242,Fitness,fit...|
|[[1330,E-Business...|
|[[498,Singles,sin...|
|[[17217,NVC pract...|
|[[9226,Avatar Meh...|
|[[918,Fashionista...|
|[[19120,Raising C...|
|[[9696,New Techno...|
|[[242,Fitness,fit...|
|[[235,Coffee,coff...|
|[[1327,C/C++,c], ...|
|[[1322,Meditation...|
+--------------------+
only showing top 20 rows

In [29]:
results_df_2_2 = results_df_2.select(explode(results_df_2['results']['topics'])).distinct()

In [27]:
results_df_2_2.select(explode(results_df_2_2.col)).show()

+--------------------+
|                 col|
+--------------------+
|[206,Digital Phot...|
|[1037,Skateboardi...|
|[3336,Self-Improv...|
|[4422,Social Netw...|
|[7203,Education &...|
|[9696,New Technol...|
|[16216,Mobile Tec...|
|[19724,Android,an...|
|   [30694,OS X,os-x]|
|[36229,Creativity...|
|[94781,Technical ...|
|    [106382,iOS,ios]|
|[160268,Windows,w...|
|[883822,GoPro,gopro]|
|[1162902,Drones,d...|
|[498,Singles,sing...|
|     [611,Wine,wine]|
|[713,Dining Out,d...|
|[4392,Nightlife,n...|
|[10581,Social,soc...|
+--------------------+
only showing top 20 rows

In [30]:
results_df_2_2_1 = results_df_2_2.select(explode(results_df_2_2.col))

In [33]:
results_df_2_2_1.select(results_df_2_2_1.col['id'].alias('topic_id'), results_df_2_2_1.col['name'].alias('topic_name'), results_df_2_2_1.col['urlkey'].alias('topic_urlkey')).where(results_df_2_2_1.col['id'].isNotNull()).show()

+--------+--------------------+--------------------+
|topic_id|          topic_name|        topic_urlkey|
+--------+--------------------+--------------------+
|   21184|    European Culture|    european-culture|
|     849|          Philosophy|          philosophy|
|    1768|              Ethics|              ethics|
|   17957|            Ontology|            ontology|
|   23311|               Logic|               logic|
|   38404|        Epistemology|        epistemology|
|    1052|             Goddess|             goddess|
|   10290|        Spirituality|        spirituality|
|   17276|      Women's Circle|       womens-circle|
|   17933| Women's Empowerment|  womens-empowerment|
|   37479|Earth-Based Spiri...|earth-based-spiri...|
|   46860|            New Moon|            new-moon|
|   59894|Sacred Ceremony a...|sacred-ceremony-a...|
|   62062|     Sacred Feminine|     sacred-feminine|
|   67184|        Moon Circles|        moon-circles|
|   83103| new moon meditation| new-moon-meditation|
|   85708|     New Moon Ritual|     new-moon-ritual|
|   97136|Goddess Spirituality|goddess-spirituality|
|  105750|     Divine Guidance|     divine-guidance|
|  151485| The Divine Feminine| the-divine-feminine|
+--------+--------------------+--------------------+
only showing top 20 rows

In [35]:
topic_df = results_df_2_2_1.select(results_df_2_2_1.col['id'].alias('topic_id'), results_df_2_2_1.col['name'].alias('topic_name'), results_df_2_2_1.col['urlkey'].alias('topic_urlkey')).where(results_df_2_2_1.col['id'].isNotNull())

In [36]:
topic_df.show()

+--------+--------------------+--------------------+
|topic_id|          topic_name|        topic_urlkey|
+--------+--------------------+--------------------+
|   21184|    European Culture|    european-culture|
|     849|          Philosophy|          philosophy|
|    1768|              Ethics|              ethics|
|   17957|            Ontology|            ontology|
|   23311|               Logic|               logic|
|   38404|        Epistemology|        epistemology|
|    1052|             Goddess|             goddess|
|   10290|        Spirituality|        spirituality|
|   17276|      Women's Circle|       womens-circle|
|   17933| Women's Empowerment|  womens-empowerment|
|   37479|Earth-Based Spiri...|earth-based-spiri...|
|   46860|            New Moon|            new-moon|
|   59894|Sacred Ceremony a...|sacred-ceremony-a...|
|   62062|     Sacred Feminine|     sacred-feminine|
|   67184|        Moon Circles|        moon-circles|
|   83103| new moon meditation| new-moon-meditation|
|   85708|     New Moon Ritual|     new-moon-ritual|
|   97136|Goddess Spirituality|goddess-spirituality|
|  105750|     Divine Guidance|     divine-guidance|
|  151485| The Divine Feminine| the-divine-feminine|
+--------+--------------------+--------------------+
only showing top 20 rows

## Get `organizer`.

In [32]:
results_df_2.select(explode(results_df_2['results']['organizer'])).show()

+--------------------+
|                 col|
+--------------------+
|[144430712,David ...|
|[191340365,Kat Pi...|
|[9789749,Sarah,[h...|
|[12785448,Bill Wo...|
|[132425752,Sasha ...|
|[186352781,Brian ...|
|[116454702,Sarada...|
|[116454702,Sarada...|
|[9003209,Eric Ake...|
|[8931659,Sunil,[h...|
|[187755094,Dawn L...|
|                null|
|[11958769,Kim,[ht...|
|[14277841,John Pa...|
|[73983192,Vipul G...|
|[16992611,Robert ...|
|[43891272,Mike D'...|
|[23693311,Vanessa...|
|[12636179,kk,[htt...|
|[201071432,Roland...|
+--------------------+
only showing top 20 rows

In [33]:
results_df_2_3 = results_df_2.select(explode(results_df_2['results']['organizer']))

In [34]:
results_df_2_3.select(results_df_2_3.col['member_id'].alias('member_id'), results_df_2_3.col['name'].alias('organizer_name')).where(results_df_2_3.col['member_id'].isNotNull()).show()

+---------+------------------+
|member_id|    organizer_name|
+---------+------------------+
|144430712|        David Stav|
|191340365|        Kat Pierce|
|  9789749|             Sarah|
| 12785448|         Bill Wolf|
|132425752|  Sasha Blumenfeld|
|186352781|      Brian Sefton|
|116454702| Sarada Velagapudi|
|116454702| Sarada Velagapudi|
|  9003209|         Eric Aker|
|  8931659|             Sunil|
|187755094|Dawn L Troupe-Masi|
| 11958769|               Kim|
| 14277841|        John Paxos|
| 73983192|       Vipul Gupta|
| 16992611|    Robert Metzger|
| 43891272|     Mike D'Arrigo|
| 23693311|     Vanessa Grant|
| 12636179|                kk|
|201071432|      Roland Atoui|
|140128252|   Jennifer Mercer|
+---------+------------------+
only showing top 20 rows

In [35]:
organizer_df = results_df_2_3.select(results_df_2_3.col['member_id'].alias('member_id'), results_df_2_3.col['name'].alias('organizer_name')).where(results_df_2_3.col['member_id'].isNotNull())

In [36]:
organizer_df.show()

+---------+------------------+
|member_id|    organizer_name|
+---------+------------------+
|144430712|        David Stav|
|191340365|        Kat Pierce|
|  9789749|             Sarah|
| 12785448|         Bill Wolf|
|132425752|  Sasha Blumenfeld|
|186352781|      Brian Sefton|
|116454702| Sarada Velagapudi|
|116454702| Sarada Velagapudi|
|  9003209|         Eric Aker|
|  8931659|             Sunil|
|187755094|Dawn L Troupe-Masi|
| 11958769|               Kim|
| 14277841|        John Paxos|
| 73983192|       Vipul Gupta|
| 16992611|    Robert Metzger|
| 43891272|     Mike D'Arrigo|
| 23693311|     Vanessa Grant|
| 12636179|                kk|
|201071432|      Roland Atoui|
|140128252|   Jennifer Mercer|
+---------+------------------+
only showing top 20 rows

## Poop

In [5]:
results_df_1.select(results_df_1['results']['id'][0].alias('meetup_id'), results_df_1['results']['city'][0].alias('meetup_city'),
                    results_df_1['results']['lon'][0].alias('meetup_lon'), results_df_1['results']['lat'][0].alias('meetup_lat'),
                   results_df_1['results']['name'][0].alias('meetup_name'), results_df_1['results']['members'][0].alias('meetup_members')).show()

+---------+-------------+-------------------+-----------------+--------------------+--------------+
|meetup_id|  meetup_city|         meetup_lon|       meetup_lat|         meetup_name|meetup_members|
+---------+-------------+-------------------+-----------------+--------------------+--------------+
| 18590249|Mountain View|-122.05000305175781|37.40999984741211|Bay Area PowerPoi...|            46|
+---------+-------------+-------------------+-----------------+--------------------+--------------+

In [6]:
results_df_1.select(results_df_1['results']['id'][0].alias('meetup_id'), results_df_1['results']['city'][0].alias('meetup_city'),
                   results_df_1['results']['name'][0].alias('meetup_name'), results_df_1['results']['members'][0].alias('meetup_members'),
                   results_df_1['results']['organizer'][0]['member_id'].alias('member_id'),
                   results_df_1['results']['category'][0]['id'].alias('category_id')).show()

+---------+-------------+--------------------+--------------+---------+-----------+
|meetup_id|  meetup_city|         meetup_name|meetup_members|member_id|category_id|
+---------+-------------+--------------------+--------------+---------+-----------+
| 18590249|Mountain View|Bay Area PowerPoi...|            46|144430712|          6|
+---------+-------------+--------------------+--------------+---------+-----------+

In [39]:
results_df_1.select(results_df_1['results']['id'][1].alias('meetup_id'), results_df_1['results']['city'][1].alias('meetup_city'),
                   results_df_1['results']['name'][1].alias('meetup_name'), results_df_1['results']['members'][1].alias('meetup_members'),
                   results_df_1['results']['organizer'][1]['member_id'].alias('member_id'),
                   results_df_1['results']['category'][1]['id'].alias('category_id')).show()

+---------+-----------+--------------------+--------------+---------+-----------+
|meetup_id|meetup_city|         meetup_name|meetup_members|member_id|category_id|
+---------+-----------+--------------------+--------------+---------+-----------+
| 18590368|   San Jose|Silicon Valley Fa...|           287|191340365|          8|
+---------+-----------+--------------------+--------------+---------+-----------+

In [40]:
results_df_1.withColumn('id', results_df_1['results']['id']).show()

+--------------------+--------------------+
|             results|                  id|
+--------------------+--------------------+
|[[[6,education/le...|[18590249, 185903...|
+--------------------+--------------------+

In [55]:
results_df_2.select(results_df_2['results']['id'].alias("meeting_id"), results_df_2['results']['city'].alias("city")).show()

+--------------------+--------------------+
|          meeting_id|                city|
+--------------------+--------------------+
|[18590249, 185903...|[Mountain View, S...|
+--------------------+--------------------+

In [56]:
results_df_2.select(results_df_2['results']['id'].alias("meeting_id"), results_df_2['results']['organizer']['member_id'].alias("member_id")).show()

+--------------------+--------------------+
|          meeting_id|           member_id|
+--------------------+--------------------+
|[18590249, 185903...|[144430712, 19134...|
+--------------------+--------------------+

In [57]:
results_df_2.select(results_df_2['results']['category']['id'].alias("category_id"), explode(results_df_2['results']['topics']).alias('topics')).show()

+--------------------+--------------------+
|         category_id|              topics|
+--------------------+--------------------+
|[6, 8, 31, 22, 34...|[[1001,Comedy,com...|
|[6, 8, 31, 22, 34...|[[918,Fashionista...|
|[6, 8, 31, 22, 34...|[[611,Wine,wine],...|
|[6, 8, 31, 22, 34...|[[3336,Self-Impro...|
|[6, 8, 31, 22, 34...|[[563,Open Source...|
|[6, 8, 31, 22, 34...|[[85,Science,scie...|
|[6, 8, 31, 22, 34...|[[129420,telugu l...|
|[6, 8, 31, 22, 34...|[[9131,Indian Mus...|
|[6, 8, 31, 22, 34...|[[1307,Investing,...|
|[6, 8, 31, 22, 34...|[[1244,Expat Indi...|
|[6, 8, 31, 22, 34...|[[226,Acting,acti...|
|[6, 8, 31, 22, 34...|[[15472,Network S...|
|[6, 8, 31, 22, 34...|[[2767,Book Club,...|
|[6, 8, 31, 22, 34...|[[998,Jigsaw Puzz...|
|[6, 8, 31, 22, 34...|[[1142,Current Ev...|
|[6, 8, 31, 22, 34...|[[190,Apache,apac...|
|[6, 8, 31, 22, 34...|[[885,Cashflow,ca...|
|[6, 8, 31, 22, 34...|[[10296,Women in ...|
|[6, 8, 31, 22, 34...|[[837,Expat Pakis...|
|[6, 8, 31, 22, 34...|[[10009,White Hat...|
+--------------------+--------------------+
only showing top 20 rows

In [10]:
results_df_2.select(explode(results_df_2['results']['id']).alias("meeting_id")).show()

+----------+
|meeting_id|
+----------+
|  18590249|
|  18590368|
|  18591434|
|  18592202|
|  18595535|
|  18598085|
|  18606378|
|  18606597|
|  18608064|
|  18610196|
|  18610714|
|  18612333|
|  18612956|
|  18613756|
|  18616150|
|  18617234|
|  18617833|
|  18618051|
|  18618871|
|  18627258|
+----------+
only showing top 20 rows

In [11]:
results_df_2.select(explode(results_df_2['results']['city']).alias("city")).show()

+-------------+
|         city|
+-------------+
|Mountain View|
|     San Jose|
|    Sunnyvale|
|     San Jose|
|Mountain View|
|    Cupertino|
|Mountain View|
|Mountain View|
|  Santa Clara|
|      Fremont|
|  Santa Clara|
|     San Jose|
|     San Jose|
|  Santa Clara|
|Mountain View|
|Mountain View|
|     San Jose|
|Mountain View|
|  Santa Clara|
|Mountain View|
+-------------+
only showing top 20 rows

In [12]:
df_id = results_df_2.select(explode(results_df_2['results']['id']).alias("meeting_id"))

In [13]:
df_city = results_df_2.select(explode(results_df_2['results']['city']).alias("city"))

In [44]:
results_df_2.select(explode(results_df_2['results']['name']).alias("meeting_name")).show()

+--------------------+
|        meeting_name|
+--------------------+
|Bay Area PowerPoi...|
|Silicon Valley Fa...|
|       חברותא בוואלי|
|San Jose Family &...|
|Silicon Valley Da...|
|Cupertino Cleante...|
|Mountain View Eng...|
|Mountain View Car...|
|Better Investing ...|
|Bay Area Indian C...|
|Bay Area Black Th...|
|Bay Area IBM Secu...|
|Book and Coffee -...|
|    South Bay Cubers|
|India - current a...|
|Bay Area Apache F...|
|Bay Area Turn-key...|
|BOLD (Bay area Or...|
|Silicon Valley & ...|
|        IoT Security|
+--------------------+
only showing top 20 rows

In [45]:
results_df_2.select(results_df_2['results']['name'].alias('meeting_name_list'),explode(results_df_2['results']['id']).alias("meeting_id")).show()

+--------------------+----------+
|   meeting_name_list|meeting_id|
+--------------------+----------+
|[Bay Area PowerPo...|  18590249|
|[Bay Area PowerPo...|  18590368|
|[Bay Area PowerPo...|  18591434|
|[Bay Area PowerPo...|  18592202|
|[Bay Area PowerPo...|  18595535|
|[Bay Area PowerPo...|  18598085|
|[Bay Area PowerPo...|  18606378|
|[Bay Area PowerPo...|  18606597|
|[Bay Area PowerPo...|  18608064|
|[Bay Area PowerPo...|  18610196|
|[Bay Area PowerPo...|  18610714|
|[Bay Area PowerPo...|  18612333|
|[Bay Area PowerPo...|  18612956|
|[Bay Area PowerPo...|  18613756|
|[Bay Area PowerPo...|  18616150|
|[Bay Area PowerPo...|  18617234|
|[Bay Area PowerPo...|  18617833|
|[Bay Area PowerPo...|  18618051|
|[Bay Area PowerPo...|  18618871|
|[Bay Area PowerPo...|  18627258|
+--------------------+----------+
only showing top 20 rows

In [46]:
xx=results_df_2.select(results_df_2['results']['name'].alias('meeting_name_list'),explode(results_df_2['results']['id']).alias("meeting_id"))

In [47]:
xx.show()

+--------------------+----------+
|   meeting_name_list|meeting_id|
+--------------------+----------+
|[Bay Area PowerPo...|  18590249|
|[Bay Area PowerPo...|  18590368|
|[Bay Area PowerPo...|  18591434|
|[Bay Area PowerPo...|  18592202|
|[Bay Area PowerPo...|  18595535|
|[Bay Area PowerPo...|  18598085|
|[Bay Area PowerPo...|  18606378|
|[Bay Area PowerPo...|  18606597|
|[Bay Area PowerPo...|  18608064|
|[Bay Area PowerPo...|  18610196|
|[Bay Area PowerPo...|  18610714|
|[Bay Area PowerPo...|  18612333|
|[Bay Area PowerPo...|  18612956|
|[Bay Area PowerPo...|  18613756|
|[Bay Area PowerPo...|  18616150|
|[Bay Area PowerPo...|  18617234|
|[Bay Area PowerPo...|  18617833|
|[Bay Area PowerPo...|  18618051|
|[Bay Area PowerPo...|  18618871|
|[Bay Area PowerPo...|  18627258|
+--------------------+----------+
only showing top 20 rows

In [58]:
yy = results_df_2.select(results_df_2['results']['id'].alias("meeting_id"), results_df_2['results']['organizer']['member_id'].alias("member_id"))

In [59]:
yy.show()

+--------------------+--------------------+
|          meeting_id|           member_id|
+--------------------+--------------------+
|[18590249, 185903...|[144430712, 19134...|
+--------------------+--------------------+

In [65]:
yy.select(yy['meeting_id'], explode(yy['member_id']).alias('member_id')).show()

+--------------------+---------+
|          meeting_id|member_id|
+--------------------+---------+
|[18590249, 185903...|144430712|
|[18590249, 185903...|191340365|
|[18590249, 185903...|  9789749|
|[18590249, 185903...| 12785448|
|[18590249, 185903...|132425752|
|[18590249, 185903...|186352781|
|[18590249, 185903...|116454702|
|[18590249, 185903...|116454702|
|[18590249, 185903...|  9003209|
|[18590249, 185903...|  8931659|
|[18590249, 185903...|187755094|
|[18590249, 185903...|     null|
|[18590249, 185903...| 11958769|
|[18590249, 185903...| 14277841|
|[18590249, 185903...| 73983192|
|[18590249, 185903...| 16992611|
|[18590249, 185903...| 43891272|
|[18590249, 185903...| 23693311|
|[18590249, 185903...| 12636179|
|[18590249, 185903...|201071432|
+--------------------+---------+
only showing top 20 rows

In [66]:
zz=yy.select(yy['meeting_id'], explode(yy['member_id']).alias('member_id'))

In [68]:
zz.select(zz['member_id'], explode(yy['meeting_id'])).show()

+---------+--------+
|member_id|     col|
+---------+--------+
|144430712|18590249|
|144430712|18590368|
|144430712|18591434|
|144430712|18592202|
|144430712|18595535|
|144430712|18598085|
|144430712|18606378|
|144430712|18606597|
|144430712|18608064|
|144430712|18610196|
|144430712|18610714|
|144430712|18612333|
|144430712|18612956|
|144430712|18613756|
|144430712|18616150|
|144430712|18617234|
|144430712|18617833|
|144430712|18618051|
|144430712|18618871|
|144430712|18627258|
+---------+--------+
only showing top 20 rows

https://aws.amazon.com/premiumsupport/knowledge-center/rds-import-data/

http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/PostgreSQL.Procedural.Importing.html